.header {
    padding: 7px 20px;
    background:#f1f1f1;
    color:#0a0a0a;
    margin:0px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px -1px #9e9e9e;
    font-size: 14px;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    left:0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
  